* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #F7D1CD;
}

h1 {
  background-color: #462255;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

h2{
  color: #8980F5;
}

p {
  margin: 0;
}

section{
  padding: 10px;
}

nav{
  background-color: #7EBCE6; 
  height: auto;
}

ul, li{
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: center;
}

a{
  color: #462255;
}



img{

}


/* Class selectors */

.container{

  display: grid;
  grid-template-columns: 25% 75%;


}
.page-section{
  
}

.hero-banner{
display: flex;
justify-content: center;
}

/* id selectors */

#footer {
  padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
  background-color: #462255;
  color: aliceblue;
}
